/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Open Sans', sans-serif; }

.control_bar {
  background-color: #282539;
  padding: 0 20px; }
  .control_bar:after {
    content: "";
    display: table;
    clear: both; }
  .control_bar ul li {
    display: block;
    float: left;
    padding: 0 20px;
    line-height: 50px;
    color: #3c3853;
    font-size: 0.775em; }
    .control_bar ul li a:link,
    .control_bar ul li a:visited {
      color: #e6e6e6;
      text-decoration: none;
      text-transform: uppercase; }
    .control_bar ul li a:hover {
      text-decoration: underline; }
  .control_bar form {
    float: left;
    margin: 0 20px; }
    .control_bar form .search {
      line-height: 50px; }
      .control_bar form .search input[type="text"] {
        background: #2b283b;
        border: 1px solid #2f2c3f;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        color: #e6e6e6;
        padding: 5px 5px 5px 15px;
        font-size: 0.875em; }
        .control_bar form .search input[type="text"]:focus {
          outline: none; }
      .control_bar form .search ::-webkit-input-placeholder {
        /* WebKit browsers */
        color: #3c3853;
        font-style: italic;
        text-transform: uppercase; }
      .control_bar form .search :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #3c3853;
        font-style: italic;
        text-transform: uppercase;
        opacity: 1; }
      .control_bar form .search ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #3c3853;
        font-style: italic;
        text-transform: uppercase;
        opacity: 1; }
      .control_bar form .search :-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: #3c3853;
        font-style: italic;
        text-transform: uppercase; }
      .control_bar form .search button {
        background-color: #2b283b;
        padding: 6px;
        border: 1px solid #2f2c3f;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        color: #e6e6e6; }
        .control_bar form .search button:active {
          color: #999; }
        .control_bar form .search button:focus {
          outline: none; }
  .control_bar .logo {
    float: right;
    margin: 0 20px; }
    .control_bar .logo h1 {
      text-transform: uppercase;
      font-size: 2.4em;
      font-weight: 600;
      line-height: 50px;
      color: #e6e6e6; }

nav {
  background-color: #1e1e1e;
  width: 300px; }
  nav ul li a:link,
  nav ul li a:visited {
    color: #e6e6e6;
    display: block;
    line-height: 50px;
    padding: 0 0 0 40px;
    text-decoration: none;
    font-size: 0.875em; }
  nav ul li a:hover {
    background-color: #232323; }

/*# sourceMappingURL=main.css.map */
